body{
	width:85% auto;
	background-color: purple;
}
p{
	font-family: Cambria, Georgia, serif;
}

article, aside, figure, footer, header, hgroup, menu, nav, section 
{ display: block; border:1px solid black;}

/* light css reset */
* { margin : 0; padding : 0; }
h2, h3, h4, h5, p, ul, ol  { margin : 0 20px; padding : .5em 0; }
img { border: 0px;}

article,footer{
    width:75%;
    height:100%;
}

footer{
    clear:both;
}

aside{
    float:right;
    clear:left;
    width:23%;
    height:100%;
}

/*page section*/
#pageSection{
    border:1px solid green;
}

/* =page level container */
#pageContainer {
    margin: 0px auto 0px auto;
	width: 960px;
}

#pageHeader {
    margin:0px auto 0px auto;
    width:960px;
    height:82px;
    position:relative;
}

#contentContainer {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 500px;
}

#pageFooter {
    margin: 0px auto;
    padding-bottom: 20px;
	width: 960px;
	position: relative;
}

/* Clear Floated Elements */
.clearfix:before, .clearfix:after {content: "\0020"; 
display: block; height: 0; visibility: hidden;}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }